/* normalize */
body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}
/* / normalize */
/* calculate */
.calculate {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
}

.conclusion {
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.input {
    display: flex;
    flex-wrap: wrap;
}

.signs {
    display: flex;
    flex-direction: column;
}

.number, .sign, .equally, .clear {
    cursor: pointer;
}

.number, .sign, .clear {
    width: 50px;
    height: 25px;
    margin: 0 10px 10px;
}

.number, .equally, .clear {
    border: none;
    border-radius: 0;
    background-color: #f5f5f5;
}

.number:hover, .equally:hover, .clear:hover {
    background-color: #e6e6e6;
}

.plus {
    border: none;
    background-color: #ffb84d;
}

.minus {
    border: none;
    background-color: #ffcc80;
}

.multiplication {
    border: none;
    background-color: #ffe0b3;
}

.division {
    border: none;
    background-color: #fff5e6;
}

.equally {
    width: 98%;
}
/* / calculate */